*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/* ============== */
header{
    /* background-color: rgb(8, 43, 74); */
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.9s ease;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
header .topheader{
    position: relative;
}
header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
header .navbar .logo h1{
    color: white;
    font-size: 40px;
}
header .navbar .nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
header .navbar .nav a{
    color: white;
}
header .navbar .nav span{
    color:white;
    font-size: 12px;
}
header .navbar .nav .dropdown{
    position: relative;
}
header .navbar .nav .dropmenu{
    display: none;
    position: absolute;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}
header .navbar .nav .dropmenu li{
    padding: 5px;
}
header .navbar .nav .dropmenu a{
    color: black;
}
header .navbar .togglebtn{
    display: none;
}
header .navbar .btn{
    height: 35px;
    width: 35px;
    background: transparent;
    border: 2px solid white;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
/* ================================
    create a random css class for replace nav class
    do not add in html structure. it add using js
    ================================
*/
header .navbar .navigation{
    position: absolute;
    top: 88px;
    left: 0;
    width: 100%;
    background-color: black;
}
header .navbar .navigation ul{
    flex-direction: column;
}
header .navbar .navigation a{
    color: white;
}
/* =======================
    create a random class for show dropdown menu
    ======================
*/
header .navbar .nav .drop{
    display: block;
}
/*  ======================
create a random class for header 
=================
 */
 .headerchange{
    background-color: rgb(8, 43, 74);
    transition: 0.9s ease;
}
/* ================================================== 
    media query
    ===============================================
*/
@media (max-width:576px) {
    header .navbar .togglebtn{
        display: block;
    }
    header .navbar .nav{
       display: none;
    }
    header .navbar .navigation{
        display: block;
    }
}
@media (min-width:576px) {
    header .navbar .togglebtn{
        display: block;
    }
    header .navbar .nav{
       display: none;
    }
       header .navbar .navigation{
        display: block;
    }
}
@media (min-width:992px) {
    header .navbar .togglebtn{
        display: none;
    }
    header .navbar .nav{
       display: flex;
    }
}

.home img{
    height: 750px;
    width: 100%;
}