*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    background-color: rgb(217, 214, 214);
}
header .header-m{
    margin-left: 30px;
    margin-right: 30px;
}
header .header-p{
    padding: 10px 0px;
}
header .navbar{
    display: flex;
}
header .navbar .logo{
    flex: 0.4;
}
header .navbar .logo img{
    height: 50px;
}
header .navbar .nav{
    flex: 1.5;
    display: flex;
    gap: 10px;
    align-items: center;
}
header .navbar .nav ul{
    display: flex;
    gap: 10px;
    align-items: center;
}
header .navbar .nav ul li{
    padding: 8px;
}
header .navbar .nav ul li a{
    color: black;
    font-weight: bold;
}
header .navbar .nav input[type="text"]{
    height: 37px;
    width: 435px;
    padding: 0px 10px;
    border-radius: 40px;
    border: none;
    font-size: 15px;
}
header .navbar .nav input[type="text"]::placeholder{
    text-align: center;
}
header .navbar .nav .search{
    position: relative;
}
header .navbar .nav i{
    position: absolute;
    top: 11px;
    right:14px;
    color: gray;
}
header .navbar .account{
    flex: 0.5;
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
}
header .navbar .account ul{
    display: flex;
    gap: 10px;
}
header .navbar .account .lan{
    font-size: 12px;
}
header .navbar .account a{
    color: black;
    font-weight: bold;
}